.cursor{
    cursor: pointer;
}
.nav-hover:hover{
    color: gray;
}

.rounded-custom{
    border-radius: 50px;
    width: 150px;
}

.m-t{
    border: 1px solid red;
}

.tel{
    margin-left: 25px;
}

.icon-tel{
    margin-left: 10px;
}

.mt-section-cutom{
    margin-top: 265px;
}

.music{
    margin-top: 15rem;
}